{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    <title>
      convertPage
    </title>
    <link href="{% static 'css/lib/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/_common/header.css' %}" rel="stylesheet">
  </head>
  <body>
    <script type="text/javascript" src="{% static 'js/lib/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/_common/header.js' %}"></script>
    <nav class="navbar navbar-dark bg-dark">
      {% if user.is_authenticated %}
      <button class="navbar-toggler" type="button"
          data-toggle="collapse"
          data-target="#navmenu1"
          aria-controls="navmenu1"
          aria-expanded="false"
          aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navmenu1">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#">Menu#1</a>
          <a class="nav-item nav-link" href="{% url 'logout' %}">ログアウト</a>
        </div>
      </div>
      {% endif %}
    </nav>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
