{% extends "_common/header.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/convertPage/style.css' %}">


{% block content %}
    {% if sp %}
    <p>保存が完了しました</p>
    {% endif %}
    <h2>A3RT Surmmarization による要約</h2>
    <h3>作成中</h3>
    <!-- <form action="" method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <textarea name="convertStr" rows="4" cols="50" placeholder="要約したい文字を入力して下さい"></textarea><br>
        <input type="submit" value="送信">
        <input type="reset" value="リセット">
    </form> -->
{% endblock %}
